<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.testMapper.mapper.CountryMapper">
  <resultMap id="BaseResultMap" type="com.jialong.testMapper.bean.Country">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Code" jdbcType="CHAR" property="code" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="Continent" jdbcType="CHAR" property="continent" />
    <result column="Region" jdbcType="CHAR" property="region" />
    <result column="SurfaceArea" jdbcType="REAL" property="surfacearea" />
    <result column="IndepYear" jdbcType="SMALLINT" property="indepyear" />
    <result column="Population" jdbcType="INTEGER" property="population" />
    <result column="LifeExpectancy" jdbcType="REAL" property="lifeexpectancy" />
    <result column="GNP" jdbcType="REAL" property="gnp" />
    <result column="GNPOld" jdbcType="REAL" property="gnpold" />
    <result column="LocalName" jdbcType="CHAR" property="localname" />
    <result column="GovernmentForm" jdbcType="CHAR" property="governmentform" />
    <result column="HeadOfState" jdbcType="CHAR" property="headofstate" />
    <result column="Capital" jdbcType="INTEGER" property="capital" />
    <result column="Code2" jdbcType="CHAR" property="code2" />
  </resultMap>
</mapper>