<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialong.security.mapper.RoleResourceMapper" >
  <cache type="com.jialong.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.jialong.security.bean.RoleResource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="resid" property="resid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rid, resid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jialong.security.bean.RoleResource" >
    insert into role_resource (id, rid, resid
      )
    values (#{id,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{resid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jialong.security.bean.RoleResource" >
    insert into role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="resid != null" >
        resid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="resid != null" >
        #{resid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jialong.security.bean.RoleResource" >
    update role_resource
    <set >
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="resid != null" >
        resid = #{resid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jialong.security.bean.RoleResource" >
    update role_resource
    set rid = #{rid,jdbcType=INTEGER},
      resid = #{resid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>