<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialong.core.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.jialong.core.bean.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="xntid" property="xntid" jdbcType="INTEGER" />
    <result column="xwtid" property="xwtid" jdbcType="INTEGER" />
    <result column="paperid" property="paperid" jdbcType="INTEGER" />
    <result column="phonenumber" property="phonenumber" jdbcType="BIGINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="topicstatus" property="topicstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, xntid, xwtid, paperid, phonenumber, email, topicstatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jialong.core.bean.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jialong.core.bean.StudentExample" >
    delete from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jialong.core.bean.Student" >
    insert into student (id, name, xntid, 
      xwtid, paperid, phonenumber, 
      email, topicstatus)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{xntid,jdbcType=INTEGER}, 
      #{xwtid,jdbcType=INTEGER}, #{paperid,jdbcType=INTEGER}, #{phonenumber,jdbcType=BIGINT}, 
      #{email,jdbcType=VARCHAR}, #{topicstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jialong.core.bean.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="xntid != null" >
        xntid,
      </if>
      <if test="xwtid != null" >
        xwtid,
      </if>
      <if test="paperid != null" >
        paperid,
      </if>
      <if test="phonenumber != null" >
        phonenumber,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="topicstatus != null" >
        topicstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="xntid != null" >
        #{xntid,jdbcType=INTEGER},
      </if>
      <if test="xwtid != null" >
        #{xwtid,jdbcType=INTEGER},
      </if>
      <if test="paperid != null" >
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="topicstatus != null" >
        #{topicstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.jialong.core.bean.StudentExample" resultType="java.lang.Integer" >
    select count(*) from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    update student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.xntid != null" >
        xntid = #{record.xntid,jdbcType=INTEGER},
      </if>
      <if test="record.xwtid != null" >
        xwtid = #{record.xwtid,jdbcType=INTEGER},
      </if>
      <if test="record.paperid != null" >
        paperid = #{record.paperid,jdbcType=INTEGER},
      </if>
      <if test="record.phonenumber != null" >
        phonenumber = #{record.phonenumber,jdbcType=BIGINT},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.topicstatus != null" >
        topicstatus = #{record.topicstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update student
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      xntid = #{record.xntid,jdbcType=INTEGER},
      xwtid = #{record.xwtid,jdbcType=INTEGER},
      paperid = #{record.paperid,jdbcType=INTEGER},
      phonenumber = #{record.phonenumber,jdbcType=BIGINT},
      email = #{record.email,jdbcType=VARCHAR},
      topicstatus = #{record.topicstatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jialong.core.bean.Student" >
    update student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="xntid != null" >
        xntid = #{xntid,jdbcType=INTEGER},
      </if>
      <if test="xwtid != null" >
        xwtid = #{xwtid,jdbcType=INTEGER},
      </if>
      <if test="paperid != null" >
        paperid = #{paperid,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null" >
        phonenumber = #{phonenumber,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="topicstatus != null" >
        topicstatus = #{topicstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jialong.core.bean.Student" >
    update student
    set name = #{name,jdbcType=VARCHAR},
      xntid = #{xntid,jdbcType=INTEGER},
      xwtid = #{xwtid,jdbcType=INTEGER},
      paperid = #{paperid,jdbcType=INTEGER},
      phonenumber = #{phonenumber,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      topicstatus = #{topicstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>